*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-image: url("../public/img/cool-paper.jpg");
  background-size: cover;
  background-position: center;
}