html a {
    font-size: 20px;
    color: var(--dividers-color);
    text-decoration: none;

    &:link {
        text-decoration: none;
        color: var(--dividers-color);
    }
    
    &:hover {
        text-decoration: none;
        color: gray;
    }

    &:visited {
        text-decoration: none;
        color: var(--dividers-color);
    }
}