//COLORS FOR THE WHOLE WEBSITE//
:root{
    --paragraph-background: #FDF1DB;
    --dividers-color: #E9982D;
    --light-green-color: #DFE5C1;
    --paragraph-color: #333333;
    --red-letters-color:#491E0D;
    --black-color: black;
}