$breakpoint:680px;

*{
    font-family:'bookman-jf-pro';
}

html{
    overflow-x:hidden;
}
@mixin tableBorder{
    background-image:url('images/TableBorder/TopRight.png'),url('images/TableBorder/BottomRight.png'),url('images/TableBorder/BottomLeft.png'),url('images/TableBorder/TopLeft.png'),url('images/TableBorder/Bottom.png'),url('images/TableBorder/Left.png'),url('images/TableBorder/Right.png'),url('images/TableBorder/Top.png');
    background-repeat:no-repeat,no-repeat,no-repeat,no-repeat,repeat-x,repeat-y,repeat-y,repeat-x;
    background-position:100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 100%, 0% 50%, 100% 50%, 50% 0%;
}

@mixin table{
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    padding:1.2em 1em;
    background-color:#ffffff;
    @include tableBorder();
    & li{
        padding:.1em 1em;
        width:50%;
        overflow:hidden;
        word-wrap:break-word;
        &:nth-of-type(4n-3){
            background-color:#dce5c1;
        }
        &:nth-of-type(4n-2){
            background-color:#dce5c1;
            width:51%;
            margin-left:-1%;
            padding:.1em 1.3em;
        }
    }
}

body::before{
    content:'';
    height:30rem;
    display:block;
    background-image:url('images/headerImage.png');
    background-size:cover;
    background-position:50% 100%;
    margin-bottom:-3em;
}
body{
    background-image:url('images/pageBackground.png');
    overflow-x:hidden;
}

svg{
    display:none;
}
h1,h2{
    font-weight:normal;
    color:#68281e;
    text-wrap:balance;
    font-variant:small-caps;
}
header,main{
    width:90%;
    max-width:1080px;
    margin: 0 auto;
}
nav{
    width:50%;
    max-width:800px;
    margin: 0 auto;
    & ul{
        @include table;
    }
    @media (max-width: $breakpoint){
        width:80%;
    }
}
h2::after{
    content:" ";
    display:block;
    border:1px solid gold;
    margin-bottom:1em;
}
main{
    columns:2;
    & section:nth-of-type(2){
        & p:nth-of-type(2){
            margin-top:2em;
            margin-left:1em;
            margin-right:1.5em;
            @media (max-width: $breakpoint){
                font-size:.9em;
            }
        }
    }
    @media (max-width: $breakpoint){
        columns:1;
    }
}
section{
    break-inside:avoid;
}
section ul{
    @include table();
    padding-top:3em;
    margin-top:-2.5em;
    margin-right:.5em;
    li{
        &:last-child{
            width:100%;
        }
    }
}
h4{
    font-variant:small-caps;
    font-weight:bolder;
}
.profile{
    display:flex;
    justify-content:space-around;
    margin:1rem auto;
    max-width:1080px;
    width:90%;
    align-items: center;
    & div{
        background-image:linear-gradient(transparent 8px, #dce5c1 8px, #dce5c1 60%, transparent 60%),
        linear-gradient(0deg,transparent 8px, #dce5c1 8px, #dce5c1 60%, transparent 60%);
        padding:1em;
        height:50%;
        position:relative;
        font-size:1.3rem;
        & ul{
            list-style:none;
        }
        &::before{
            content:" ";
            display:block;
            position:absolute;
            top:0;
            right:0;
            left:0;
            height:1rem;
            background-image:url('images/BoxTopper/top-left.svg'),url('images/BoxTopper/top-right.svg');
            background-repeat:no-repeat;
            background-position:0% 0%, 100% 0%;
            background-size:40rem;
        }
        &::after{
            content:" ";
            display:block;
            position:absolute;
            bottom:0;
            right:0;
            left:0;
            height:1rem;
            background-image:url('images/BoxTopper/bottom-left.svg'),url('images/BoxTopper/bottom-right.svg');
            background-repeat:no-repeat;
            background-position:0% 100%, 100% 100%;
            background-size:40rem;
        }
    }
    &::after{
        content: " ";
        display: block;
        height: 30rem;
        width: 30rem;
        background-image: url(images/Midimage2.png);
        background-repeat: no-repeat;
        background-position: 100% 80%;
        background-size: 40rem;
        @media(max-width:860px) {
            margin:2em;
        }
    }   
    @media(max-width:860px) {
        flex-direction:column;
        align-items:center;
    }
}