@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Merriweather:wght@300&display=swap");
@import url("https://use.typekit.net/omp0qhr.css");
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --paragraph-background: #FDF1DB;
  --dividers-color: #E9982D;
  --light-green-color: #DFE5C1;
  --paragraph-color: #333333;
  --red-letters-color:#491E0D;
  --black-color: black;
}

.page-footer p {
  color: var(--paragraph-color);
}

* {
  font-family: "bookman-jf-pro";
}

body::before {
  content: "";
  height: 30rem;
  display: block;
  background-image: url("images/headerImage.png");
  background-size: cover;
  background-position: 50% 100%;
  margin-bottom: -3em;
}

body {
  background-image: url("images/pageBackground.png");
  overflow-x: hidden;
}

svg {
  display: none;
}

h1, h2 {
  font-weight: normal;
  color: #68281e;
  text-wrap: balance;
  font-variant: small-caps;
}

header, main {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

nav {
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 1.2em 1em;
  background-color: #ffffff;
  background-image: url("images/TableBorder/TopRight.png"), url("images/TableBorder/BottomRight.png"), url("images/TableBorder/BottomLeft.png"), url("images/TableBorder/TopLeft.png"), url("images/TableBorder/Bottom.png"), url("images/TableBorder/Left.png"), url("images/TableBorder/Right.png"), url("images/TableBorder/Top.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-y, repeat-x;
  background-position: 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 100%, 0% 50%, 100% 50%, 50% 0%;
}
nav ul li {
  padding: 0.1em 1em;
  width: 50%;
  overflow: hidden;
  word-wrap: break-word;
}
nav ul li:nth-of-type(4n-3) {
  background-color: #dce5c1;
}
nav ul li:nth-of-type(4n-2) {
  background-color: #dce5c1;
  width: 51%;
  margin-left: -1%;
  padding: 0.1em 1.3em;
}
@media (max-width: 680px) {
  nav {
    width: 80%;
  }
}

h2::after {
  content: " ";
  display: block;
  border: 1px solid gold;
  margin-bottom: 1em;
}

main {
  columns: 2;
}
main section:nth-of-type(2) p:nth-of-type(2) {
  margin-top: 2em;
  margin-left: 1em;
}
@media (max-width: 680px) {
  main {
    columns: 1;
  }
}

section {
  break-inside: avoid;
}

section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 1.2em 1em;
  background-color: #ffffff;
  background-image: url("images/TableBorder/TopRight.png"), url("images/TableBorder/BottomRight.png"), url("images/TableBorder/BottomLeft.png"), url("images/TableBorder/TopLeft.png"), url("images/TableBorder/Bottom.png"), url("images/TableBorder/Left.png"), url("images/TableBorder/Right.png"), url("images/TableBorder/Top.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-y, repeat-x;
  background-position: 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 100%, 0% 50%, 100% 50%, 50% 0%;
  padding-top: 3em;
  margin-top: -2.5em;
  margin-right: 0.5em;
}
section ul li {
  padding: 0.1em 1em;
  width: 50%;
  overflow: hidden;
  word-wrap: break-word;
}
section ul li:nth-of-type(4n-3) {
  background-color: #dce5c1;
}
section ul li:nth-of-type(4n-2) {
  background-color: #dce5c1;
  width: 51%;
  margin-left: -1%;
  padding: 0.1em 1.3em;
}
section ul li:last-child {
  width: 100%;
}

h4 {
  font-variant: small-caps;
  font-weight: bolder;
}

.profile {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
  width: 90%;
}
.profile div {
  background-color: #dce5c1;
  padding: 1em;
}
.profile div ul {
  list-style: none;
}
.profile::after {
  content: " ";
  display: block;
  height: 30rem;
  width: 30rem;
  background-image: url(images/Midimage.png);
  background-repeat: no-repeat;
  background-position: 100% 80%;
  background-size: 40rem;
  margin-right: -20%;
}
@media (max-width: 680px) {
  .profile::after {
    margin-right: 0;
    background-image: url(images/Midimage2.png);
    margin: 2em;
  }
}
@media (max-width: 680px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
