@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Merriweather:wght@300&display=swap");
@import url("https://use.typekit.net/omp0qhr.css");
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --paragraph-background: #FDF1DB;
  --dividers-color: #E9982D;
  --light-green-color: #DFE5C1;
  --paragraph-color: #333333;
  --red-letters-color: #491E0D;
  --black-color: black;
}

.page-footer {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 40px 0;
  text-align: center;
  background-color: white;
  background-image: url("images/TableBorder/TopRight.png"), url("images/TableBorder/BottomRight.png"), url("images/TableBorder/BottomLeft.png"), url("images/TableBorder/TopLeft.png"), url("images/TableBorder/Bottom.png"), url("images/TableBorder/Left.png"), url("images/TableBorder/Right.png"), url("images/TableBorder/Top.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-y, repeat-x;
  background-position: 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 100%, 0% 50%, 100% 50%, 50% 0%;
  width: 1230px;
}
.page-footer p {
  color: var(--paragraph-color);
  margin-bottom: 15px;
  margin: 10px;
}
.page-footer a {
  color: var(--red-letters-color);
  text-decoration: none;
}
.page-footer a:hover {
  text-decoration: underline;
}
.page-footer ul {
  list-style: none;
  padding: 5px 0;
}
.page-footer ul li {
  background-color: #dce5c1;
  display: inline;
  margin: 0 15px;
  border-radius: 5px;
}
@media (max-width: 680px) {
  .page-footer {
    width: 100%;
  }
  .page-footer ul li {
    background-color: transparent;
    display: block;
    margin: 0;
    width: auto;
  }
}

.skip-link {
  margin: 0 35px;
  font-size: 25px;
}
@media screen and (max-width: 680px) {
  .skip-link {
    margin: 15px 15px;
    font-size: 18px;
  }
}

html a {
  color: var(--red-letters-color);
}
html:hover {
  color: var(--red-letters-color);
}
html:visited {
  color: var(--red-letters-color);
}
html:active {
  color: var(--red-letters-color);
}

#styles {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  max-width: 1047px;
  width: 90%;
  flex-direction: row-reverse;
  align-items: center;
}
#styles div {
  background-image: linear-gradient(transparent 8px, #dce5c1 8px, #dce5c1 60%, transparent 60%), linear-gradient(0deg, transparent 8px, #dce5c1 8px, #dce5c1 60%, transparent 60%);
  padding: 1em;
  font-size: 17px;
  text-align: center;
  height: 50%;
  position: relative;
}
#styles div ul {
  list-style: none;
}
#styles div::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1rem;
  background-image: url("images/BoxTopper/top-left.svg"), url("images/BoxTopper/top-right.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%, 100% 0%;
  background-size: 40rem;
}
#styles div::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 1rem;
  background-image: url("images/BoxTopper/bottom-left.svg"), url("images/BoxTopper/bottom-right.svg");
  background-repeat: no-repeat;
  background-position: 0% 100%, 100% 100%;
  background-size: 40rem;
}
#styles::after {
  content: " ";
  display: flex;
  height: 30rem;
  width: 30rem;
  background-image: url(images/haracter.png);
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
}
@media (max-width: 860px) {
  #styles::after {
    margin: 2em;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 860px) {
  #styles {
    flex-direction: column;
    align-items: center;
  }
}

* {
  font-family: "bookman-jf-pro";
}

html {
  overflow-x: hidden;
}

body::before {
  content: "";
  height: 30rem;
  display: block;
  background-image: url("images/headerImage.png");
  background-size: cover;
  background-position: 50% 100%;
  margin-bottom: -3em;
}

body {
  background-image: url("images/pageBackground.png");
  overflow-x: hidden;
}

svg {
  display: none;
}

h1, h2 {
  font-weight: normal;
  color: #68281e;
  text-wrap: balance;
  font-variant: small-caps;
}

header, main {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

nav {
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 1.2em 1em;
  background-color: #ffffff;
  background-image: url("images/TableBorder/TopRight.png"), url("images/TableBorder/BottomRight.png"), url("images/TableBorder/BottomLeft.png"), url("images/TableBorder/TopLeft.png"), url("images/TableBorder/Bottom.png"), url("images/TableBorder/Left.png"), url("images/TableBorder/Right.png"), url("images/TableBorder/Top.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-y, repeat-x;
  background-position: 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 100%, 0% 50%, 100% 50%, 50% 0%;
}
nav ul li {
  padding: 0.1em 1em;
  width: 50%;
  overflow: hidden;
  word-wrap: break-word;
}
nav ul li:nth-of-type(4n-3) {
  background-color: #dce5c1;
}
nav ul li:nth-of-type(4n-2) {
  background-color: #dce5c1;
  width: 51%;
  margin-left: -1%;
  padding: 0.1em 1.3em;
}
@media (max-width: 680px) {
  nav {
    width: 80%;
  }
}

h2::after {
  content: " ";
  display: block;
  border: 1px solid gold;
  margin-bottom: 1em;
}

main {
  columns: 2;
}
main section:nth-of-type(2) p:nth-of-type(2) {
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1.5em;
}
@media (max-width: 680px) {
  main section:nth-of-type(2) p:nth-of-type(2) {
    font-size: 0.9em;
  }
}
@media (max-width: 680px) {
  main {
    columns: 1;
  }
}

section {
  break-inside: avoid;
}

section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 1.2em 1em;
  background-color: #ffffff;
  background-image: url("images/TableBorder/TopRight.png"), url("images/TableBorder/BottomRight.png"), url("images/TableBorder/BottomLeft.png"), url("images/TableBorder/TopLeft.png"), url("images/TableBorder/Bottom.png"), url("images/TableBorder/Left.png"), url("images/TableBorder/Right.png"), url("images/TableBorder/Top.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-y, repeat-x;
  background-position: 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 100%, 0% 50%, 100% 50%, 50% 0%;
  padding-top: 3em;
  margin-top: -2.5em;
  margin-right: 0.5em;
}
section ul li {
  padding: 0.1em 1em;
  width: 50%;
  overflow: hidden;
  word-wrap: break-word;
}
section ul li:nth-of-type(4n-3) {
  background-color: #dce5c1;
}
section ul li:nth-of-type(4n-2) {
  background-color: #dce5c1;
  width: 51%;
  margin-left: -1%;
  padding: 0.1em 1.3em;
}
section ul li:last-child {
  width: 100%;
}

h4 {
  font-variant: small-caps;
  font-weight: bolder;
}

.profile {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  max-width: 1080px;
  width: 90%;
  align-items: center;
}
.profile div {
  background-image: linear-gradient(transparent 8px, #dce5c1 8px, #dce5c1 60%, transparent 60%), linear-gradient(0deg, transparent 8px, #dce5c1 8px, #dce5c1 60%, transparent 60%);
  padding: 1em;
  height: 50%;
  position: relative;
  font-size: 1.3rem;
}
.profile div ul {
  list-style: none;
}
.profile div::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1rem;
  background-image: url("images/BoxTopper/top-left.svg"), url("images/BoxTopper/top-right.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%, 100% 0%;
  background-size: 40rem;
}
.profile div::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 1rem;
  background-image: url("images/BoxTopper/bottom-left.svg"), url("images/BoxTopper/bottom-right.svg");
  background-repeat: no-repeat;
  background-position: 0% 100%, 100% 100%;
  background-size: 40rem;
}
.profile::after {
  content: " ";
  display: block;
  height: 30rem;
  width: 30rem;
  background-image: url(images/Midimage2.png);
  background-repeat: no-repeat;
  background-position: 100% 80%;
  background-size: 40rem;
}
@media (max-width: 860px) {
  .profile::after {
    margin: 2em;
  }
}
@media (max-width: 860px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
