$breakpoint: 680px;

@mixin tableBorder {
    background-image: url('images/TableBorder/TopRight.png'), url('images/TableBorder/BottomRight.png'), url('images/TableBorder/BottomLeft.png'), url('images/TableBorder/TopLeft.png'), url('images/TableBorder/Bottom.png'), url('images/TableBorder/Left.png'), url('images/TableBorder/Right.png'), url('images/TableBorder/Top.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-y, repeat-x;
    background-position: 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 100%, 0% 50%, 100% 50%, 50% 0%;
}

.page-footer {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 40px 0;
    text-align: center;
    background-color: white;
    @include tableBorder();
    width: 1230px;

    p {
        color: var(--paragraph-color);
        margin-bottom: 15px;
        margin: 10px;
    }

    a {
        color: var(--red-letters-color);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    ul {
        list-style: none;
        padding: 5px 0;

        li {
            background-color: #dce5c1;
            display: inline;
            margin: 0 15px;
        }
    }

    @media(max-width:$breakpoint) {
        width: 100%;

        ul {

            li {
                background-color: transparent;
                display: block;
                margin: 0;
                width: auto;
            }
        }
    }
}